<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.ittsa.mapper.AutopartesAutomotorMapper">

<resultMap id="autoparteAutomotorResult" type="com.certicom.ittsa.domain.AutoparteAutomotor">
	<id column="IdParteAutomotor" property="idParteAutomotor"/>
	<result column="IdAutomotor" property="idAutomotor"/>
	<result column="IdAutoparte" property="idAutoparte"/>
</resultMap>


</mapper>	