<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.ittsa.mapper.CategoriaServicioMapper">

<resultMap id="categoriaServicioResult" type="com.certicom.ittsa.domain.CategoriaServicio">
	<id column="IdCatServicio" property="idCatServicio"/>
	<result column="Estado" property="estado"/>
	<result column="Descripcion" property="Descripcion"/>
</resultMap>


</mapper>	