<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.ittsa.mapper.CompraMapper">

<resultMap id="compraResult" type="com.certicom.ittsa.domain.Compra">
	<id column="IdCompra" property="IdCompra"/>
	<result column="ordenCompra" property="ordenCompra"/>
	<result column="Idagencia" property="Idagencia"/>
	<result column="IdOficina" property="IdOficina"/>
	<result column="IdProveedor" property="IdProveedor"/>
	<result column="fRegistro" property="fRegistro"/>
	<result column="fechaCompra" property="fechaCompra"/>
	<result column="tipDocumento" property="tipDocumento"/>
	
	<result column="desAgencia" property="desAgencia"/>
	<result column="desOficina" property="desOficina"/>
	<result column="desProveedor" property="desProveedor"/>
</resultMap>


</mapper>	