<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.ittsa.mapper.FrecuenciaMapper">

<resultMap id="frecuenciaResult" type="com.certicom.ittsa.domain.Frecuencia">
	<id column="IdFrecuencia" property="idFrecuencia"/>
	<result column="Estado" property="estado"/>
	<result column="Direccion" property="direccion"/>
</resultMap>


</mapper>	