<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.ittsa.mapper.SalidaAutoparteMapper">

<resultMap id="salidaAutoparteResult" type="com.certicom.ittsa.domain.SalidaAutoparte">
	<id column="IdSalidaAutoparte" property="idSalidaAutoparte"/>
	<result column="IdBus" property="idBus"/>
	<result column="IdMecanico" property="idMecanico"/>
	<result column="IdAutoparte" property="idAutoparte"/>
	<result column="Cantidad" property="cantidad"/>
	<result column="IdOficina" property="idOficina"/>
	<result column="IdAgencia" property="idAgencia"/>
	<result column="Estado" property="estado"/>
	<result column="FecPedido" property="fecPedido"/>
	<result column="TipoMantenimiento" property="tipoMantenimiento"/>
	<result column="Accion" property="accion"/>
	
	<result column="nomMecanico" property="nomMecanico"/>
	<result column="descAutoparte" property="descAutoparte"/>
	<result column="nroBus" property="nroBus"/>
</resultMap>

<select id="listarAutopartePendientes" parameterType="com.certicom.ittsa.domain.SalidaAutoparte" resultMap="salidaAutoparteResult">
	select 
		sa.IdSalidaAutoparte,
		sa.IdBus,
		sa.IdMecanico,
		sa.Cantidad,
		sa.IdOficina,
		sa.IdAgencia,
		sa.Estado,
		a.IdAutoparte,
		sa.FecPedido,
		sa.TipoMantenimiento,
		sa.Accion,
		(m.Nombre + ' ' +m.ApePaterno + ' ' + m.ApeMaterno) as nomMecanico,
		a.Descripcion as descAutoparte,
		f.Numero as nroBus
		 from 
		t_salidaautoparte sa inner join t_autoparte a 
		on sa.IdAutoparte = a.IdAutoparte
		inner join t_mecanico m
		on m.IdMecanico = sa.IdMecanico
		inner join t_flota f
		on sa.IdBus = f.IdBus
		where sa.Estado = 1
		and sa.IdAgencia =#{idAgencia}
		and sa.IdOficina= #{idOficina}
		and sa.IdAlmacen = #{idAlmacen}
		order by sa.FecPedido desc , f.Numero , nomMecanico asc
</select>

</mapper>	